In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('239ac3d0-f08d-40d0-b03c-9b7a426a62d5.csv')
df.head()

,COMM_NAME,COMM_CODE,COMM_WT,INDX042012,INDX052012,INDX062012,INDX072012,INDX082012,INDX092012,INDX102012,...,INDX012023,INDX022023,INDX032023,INDX042023,INDX052023,INDX062023,INDX072023,INDX082023,INDX092023,INDX102023
0,All commodities,1000000000,100.00000,104.7,105.3,105.3,106.2,106.9,107.6,107.4,...,150.7,150.9,151.0,151.1,149.4,148.9,152.1,152.5,151.8,152.5
1,Wheat,1101010102,1.02823,104.6,105.4,104.4,105.8,116.0,119.4,117.4,...,203.9,196.8,187.1,186.4,184.9,187.3,187.1,188.3,190.7,194.0
2,Ragi,1101010107,0.00738,107.2,110.3,108.9,115.6,126.4,134.1,149.5,...,221.6,222.0,224.3,233.8,237.0,237.1,245.4,256.6,259.0,263.1
3,a2. PULSES,1101010200,0.63860,105.4,111.4,114.0,123.4,128.8,129.3,127.2,...,178.1,178.0,180.4,184.6,183.6,188.5,191.9,197.6,210.2,214.6
4,Gram,1101010201,0.26377,116.1,127.5,130.7,143.7,149.9,148.9,145.5,...,164.8,165.6,167.4,169.4,167.0,166.5,166.2,174.2,187.2,192.2

In [3]:
def calculate_quarterly(df, start_year, end_year):

    df_quarterly = df.copy()


    for year in range(start_year, end_year + 1):
        q1_cols = [f'INDX01{year}', f'INDX02{year}', f'INDX03{year}']
        q2_cols = [f'INDX04{year}', f'INDX05{year}', f'INDX06{year}']
        q3_cols = [f'INDX07{year}', f'INDX08{year}', f'INDX09{year}']
        q4_cols = [f'INDX10{year}', f'INDX11{year}', f'INDX12{year}']

        df_quarterly[f'Q1_{year}'] = df[q1_cols].mean(axis=1)
        df_quarterly[f'Q2_{year}'] = df[q2_cols].mean(axis=1)
        df_quarterly[f'Q3_{year}'] = df[q3_cols].mean(axis=1)
        df_quarterly[f'Q4_{year}'] = df[q4_cols].mean(axis=1)
        df_quarterly.drop(columns=q1_cols + q2_cols + q3_cols + q4_cols, inplace=True)

    return df_quarterly

df_quarterly = calculate_quarterly(df, start_year=2013, end_year=2022)

In [4]:
df_quarterly

,COMM_NAME,COMM_CODE,COMM_WT,INDX042012,INDX052012,INDX062012,INDX072012,INDX082012,INDX092012,INDX102012,...,Q3_2020,Q4_2020,Q1_2021,Q2_2021,Q3_2021,Q4_2021,Q1_2022,Q2_2022,Q3_2022,Q4_2022
0,All commodities,1000000000,100.00000,104.7,105.3,105.3,106.2,106.9,107.6,107.4,...,121.966667,124.700000,128.166667,132.866667,136.200000,142.566667,146.000000,154.233333,153.033333,151.966667
1,Wheat,1101010102,1.02823,104.6,105.4,104.4,105.8,116.0,119.4,117.4,...,153.833333,147.533333,149.666667,156.400000,154.433333,162.133333,167.366667,173.066667,178.666667,191.966667
2,Ragi,1101010107,0.00738,107.2,110.3,108.9,115.6,126.4,134.1,149.5,...,229.900000,227.466667,228.333333,233.566667,230.333333,228.666667,234.166667,230.133333,211.000000,209.633333
3,a2. PULSES,1101010200,0.63860,105.4,111.4,114.0,123.4,128.8,129.3,127.2,...,160.766667,170.300000,168.833333,177.300000,175.333333,176.966667,174.200000,173.600000,177.400000,178.533333
4,Gram,1101010201,0.26377,116.1,127.5,130.7,143.7,149.9,148.9,145.5,...,147.966667,162.566667,157.166667,168.700000,168.400000,168.566667,164.900000,162.700000,164.066667,162.033333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
864,Gold & gold ornaments,1322010001,0.96561,91.2,88.2,85.2,91.9,87.9,102.3,106.5,...,136.066667,134.566667,133.766667,135.933333,133.566667,135.833333,140.866667,142.833333,145.800000,148.233333
865,"Stringed musical instruments (incl. Santoor, G...",1322020001,0.00124,108.8,101.6,107.5,117.4,103.0,112.2,100.0,...,167.366667,166.966667,185.700000,197.533333,191.966667,192.933333,186.933333,182.200000,188.666667,190.366667
866,c. Manufacture of sports goods,1322030000,0.01238,106.0,106.8,106.4,106.2,105.0,106.9,106.9,...,131.000000,131.866667,134.200000,136.466667,138.533333,141.900000,144.666667,147.300000,150.033333,151.866667
867,Sports goods of rubber (incl. balls),1322030001,0.00367,105.2,109.2,106.6,105.5,105.2,105.0,106.8,...,115.666667,116.233333,118.866667,120.633333,125.633333,127.333333,128.600000,132.166667,132.366667,134.100000
868,IV FOOD INDEX,2000000000,NaN,105.9,106.5,108.4,110.4,111.1,111.4,110.5,...,154.933333,158.100000,153.033333,158.766667,160.533333,168.833333,167.066667,175.433333,175.166667,174.433333

In [5]:
columns_to_drop = df_quarterly.columns[3:22]

df_quarterly.drop(columns=columns_to_drop, inplace=True)

In [6]:
df_quarterly

,COMM_NAME,COMM_CODE,COMM_WT,Q1_2013,Q2_2013,Q3_2013,Q4_2013,Q1_2014,Q2_2014,Q3_2014,...,Q3_2020,Q4_2020,Q1_2021,Q2_2021,Q3_2021,Q4_2021,Q1_2022,Q2_2022,Q3_2022,Q4_2022
0,All commodities,1000000000,100.00000,108.333333,109.100000,112.800000,114.100000,113.833333,114.700000,116.766667,...,121.966667,124.700000,128.166667,132.866667,136.200000,142.566667,146.000000,154.233333,153.033333,151.966667
1,Wheat,1101010102,1.02823,122.666667,120.300000,123.333333,127.300000,128.766667,121.600000,122.066667,...,153.833333,147.533333,149.666667,156.400000,154.433333,162.133333,167.366667,173.066667,178.666667,191.966667
2,Ragi,1101010107,0.00738,167.900000,172.133333,172.866667,166.066667,159.066667,160.000000,162.100000,...,229.900000,227.466667,228.333333,233.566667,230.333333,228.666667,234.166667,230.133333,211.000000,209.633333
3,a2. PULSES,1101010200,0.63860,117.133333,116.533333,113.800000,115.800000,113.533333,116.733333,119.766667,...,160.766667,170.300000,168.833333,177.300000,175.333333,176.966667,174.200000,173.600000,177.400000,178.533333
4,Gram,1101010201,0.26377,125.200000,116.466667,109.066667,109.033333,102.933333,101.833333,99.466667,...,147.966667,162.566667,157.166667,168.700000,168.400000,168.566667,164.900000,162.700000,164.066667,162.033333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
864,Gold & gold ornaments,1322010001,0.96561,93.200000,89.366667,93.766667,95.533333,99.066667,102.100000,101.233333,...,136.066667,134.566667,133.766667,135.933333,133.566667,135.833333,140.866667,142.833333,145.800000,148.233333
865,"Stringed musical instruments (incl. Santoor, G...",1322020001,0.00124,103.000000,117.033333,116.066667,119.700000,128.233333,126.366667,136.900000,...,167.366667,166.966667,185.700000,197.533333,191.966667,192.933333,186.933333,182.200000,188.666667,190.366667
866,c. Manufacture of sports goods,1322030000,0.01238,107.100000,104.533333,107.333333,106.866667,107.766667,113.333333,113.233333,...,131.000000,131.866667,134.200000,136.466667,138.533333,141.900000,144.666667,147.300000,150.033333,151.866667
867,Sports goods of rubber (incl. balls),1322030001,0.00367,108.200000,103.733333,104.133333,104.633333,103.800000,111.066667,110.533333,...,115.666667,116.233333,118.866667,120.633333,125.633333,127.333333,128.600000,132.166667,132.366667,134.100000
868,IV FOOD INDEX,2000000000,NaN,111.766667,115.733333,122.000000,124.833333,119.866667,123.233333,129.766667,...,154.933333,158.100000,153.033333,158.766667,160.533333,168.833333,167.066667,175.433333,175.166667,174.433333

In [7]:

indices_to_drop = list(df_quarterly.index[0:1]) + list(df_quarterly.index[10:])


df_quarterly.drop(index=indices_to_drop, inplace=True)

In [8]:
df_quarterly

,COMM_NAME,COMM_CODE,COMM_WT,Q1_2013,Q2_2013,Q3_2013,Q4_2013,Q1_2014,Q2_2014,Q3_2014,...,Q3_2020,Q4_2020,Q1_2021,Q2_2021,Q3_2021,Q4_2021,Q1_2022,Q2_2022,Q3_2022,Q4_2022
1,Wheat,1101010102,1.02823,122.666667,120.300000,123.333333,127.300000,128.766667,121.600000,122.066667,...,153.833333,147.533333,149.666667,156.400000,154.433333,162.133333,167.366667,173.066667,178.666667,191.966667
2,Ragi,1101010107,0.00738,167.900000,172.133333,172.866667,166.066667,159.066667,160.000000,162.100000,...,229.900000,227.466667,228.333333,233.566667,230.333333,228.666667,234.166667,230.133333,211.000000,209.633333
3,a2. PULSES,1101010200,0.63860,117.133333,116.533333,113.800000,115.800000,113.533333,116.733333,119.766667,...,160.766667,170.300000,168.833333,177.300000,175.333333,176.966667,174.200000,173.600000,177.400000,178.533333
4,Gram,1101010201,0.26377,125.200000,116.466667,109.066667,109.033333,102.933333,101.833333,99.466667,...,147.966667,162.566667,157.166667,168.700000,168.400000,168.566667,164.900000,162.700000,164.066667,162.033333
5,Peas/Chawali,1101010206,0.02444,118.200000,143.000000,152.066667,146.366667,108.633333,135.100000,146.433333,...,202.500000,210.266667,180.066667,217.733333,216.866667,215.300000,191.466667,217.900000,228.033333,216.400000
6,b1. VEGETABLES,1101020100,1.87448,115.733333,142.766667,193.666667,199.900000,117.866667,136.200000,199.666667,...,228.133333,261.266667,162.666667,153.300000,185.000000,270.166667,209.566667,223.566667,234.233333,230.466667
7,Potato,1101020101,0.27737,132.066667,164.766667,171.433333,217.200000,152.733333,220.466667,288.833333,...,330.933333,421.833333,164.000000,174.466667,193.533333,222.900000,174.666667,228.533333,289.233333,279.233333
8,Sweet Potato,1101020102,0.02051,77.800000,77.300000,90.766667,151.833333,98.833333,95.266667,167.766667,...,68.100000,74.100000,69.366667,77.433333,77.900000,86.566667,88.533333,106.666667,106.900000,96.500000
9,Ginger (Fresh),1101020105,0.02124,164.766667,291.366667,317.866667,231.300000,280.333333,355.800000,304.733333,...,246.800000,163.066667,116.766667,131.233333,159.166667,147.833333,115.800000,134.933333,161.800000,172.200000

In [9]:
numeric_cols = df_quarterly.select_dtypes(include=['number']).columns
excluded_cols = ['COMM_WT', 'COMM_CODE']
selected_cols = [col for col in numeric_cols if col not in excluded_cols]

df_numeric = df_quarterly[selected_cols]

In [10]:
# from sklearn.preprocessing import MinMaxScaler
# 
# scaler = MinMaxScaler()
# 
# scaled_data = scaler.fit_transform(df_numeric)
# 
# df_scaled = pd.DataFrame(scaled_data, columns=selected_cols, index=df_quarterly.index)

# 3. Separate non-numeric columns to include them in the final DataFrame
non_numeric_cols = ['COMM_NAME', 'COMM_WT', 'COMM_CODE']
df_non_numeric = df_quarterly[non_numeric_cols]

# Concatenate dataframes
df_final = pd.concat([df_non_numeric, df_numeric], axis=1)

In [11]:
df=df_final.copy()

In [12]:
df

,COMM_NAME,COMM_WT,COMM_CODE,Q1_2013,Q2_2013,Q3_2013,Q4_2013,Q1_2014,Q2_2014,Q3_2014,...,Q3_2020,Q4_2020,Q1_2021,Q2_2021,Q3_2021,Q4_2021,Q1_2022,Q2_2022,Q3_2022,Q4_2022
1,Wheat,1.02823,1101010102,122.666667,120.300000,123.333333,127.300000,128.766667,121.600000,122.066667,...,153.833333,147.533333,149.666667,156.400000,154.433333,162.133333,167.366667,173.066667,178.666667,191.966667
2,Ragi,0.00738,1101010107,167.900000,172.133333,172.866667,166.066667,159.066667,160.000000,162.100000,...,229.900000,227.466667,228.333333,233.566667,230.333333,228.666667,234.166667,230.133333,211.000000,209.633333
3,a2. PULSES,0.63860,1101010200,117.133333,116.533333,113.800000,115.800000,113.533333,116.733333,119.766667,...,160.766667,170.300000,168.833333,177.300000,175.333333,176.966667,174.200000,173.600000,177.400000,178.533333
4,Gram,0.26377,1101010201,125.200000,116.466667,109.066667,109.033333,102.933333,101.833333,99.466667,...,147.966667,162.566667,157.166667,168.700000,168.400000,168.566667,164.900000,162.700000,164.066667,162.033333
5,Peas/Chawali,0.02444,1101010206,118.200000,143.000000,152.066667,146.366667,108.633333,135.100000,146.433333,...,202.500000,210.266667,180.066667,217.733333,216.866667,215.300000,191.466667,217.900000,228.033333,216.400000
6,b1. VEGETABLES,1.87448,1101020100,115.733333,142.766667,193.666667,199.900000,117.866667,136.200000,199.666667,...,228.133333,261.266667,162.666667,153.300000,185.000000,270.166667,209.566667,223.566667,234.233333,230.466667
7,Potato,0.27737,1101020101,132.066667,164.766667,171.433333,217.200000,152.733333,220.466667,288.833333,...,330.933333,421.833333,164.000000,174.466667,193.533333,222.900000,174.666667,228.533333,289.233333,279.233333
8,Sweet Potato,0.02051,1101020102,77.800000,77.300000,90.766667,151.833333,98.833333,95.266667,167.766667,...,68.100000,74.100000,69.366667,77.433333,77.900000,86.566667,88.533333,106.666667,106.900000,96.500000
9,Ginger (Fresh),0.02124,1101020105,164.766667,291.366667,317.866667,231.300000,280.333333,355.800000,304.733333,...,246.800000,163.066667,116.766667,131.233333,159.166667,147.833333,115.800000,134.933333,161.800000,172.200000

In [13]:
df.isna().sum()

COMM_NAME    0
COMM_WT      0
COMM_CODE    0
Q1_2013      0
Q2_2013      0
Q3_2013      0
Q4_2013      0
Q1_2014      0
Q2_2014      0
Q3_2014      0
Q4_2014      0
Q1_2015      0
Q2_2015      0
Q3_2015      0
Q4_2015      0
Q1_2016      0
Q2_2016      0
Q3_2016      0
Q4_2016      0
Q1_2017      0
Q2_2017      0
Q3_2017      0
Q4_2017      0
Q1_2018      0
Q2_2018      0
Q3_2018      0
Q4_2018      0
Q1_2019      0
Q2_2019      0
Q3_2019      0
Q4_2019      0
Q1_2020      0
Q2_2020      0
Q3_2020      0
Q4_2020      0
Q1_2021      0
Q2_2021      0
Q3_2021      0
Q4_2021      0
Q1_2022      0
Q2_2022      0
Q3_2022      0
Q4_2022      0
dtype: int64

In [14]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error, mean_squared_log_error

In [15]:
df_melted = df.melt(id_vars=['COMM_NAME', 'COMM_CODE', 'COMM_WT'],
                               var_name='Quarter',
                               value_name='Price')

In [16]:
df_melted

          COMM_NAME   COMM_CODE  COMM_WT  Quarter       Price
0             Wheat  1101010102  1.02823  Q1_2013  122.666667
1              Ragi  1101010107  0.00738  Q1_2013  167.900000
2        a2. PULSES  1101010200  0.63860  Q1_2013  117.133333
3              Gram  1101010201  0.26377  Q1_2013  125.200000
4      Peas/Chawali  1101010206  0.02444  Q1_2013  118.200000
..              ...         ...      ...      ...         ...
355    Peas/Chawali  1101010206  0.02444  Q4_2022  216.400000
356  b1. VEGETABLES  1101020100  1.87448  Q4_2022  230.466667
357          Potato  1101020101  0.27737  Q4_2022  279.233333
358    Sweet Potato  1101020102  0.02051  Q4_2022   96.500000
359  Ginger (Fresh)  1101020105  0.02124  Q4_2022  172.200000

[360 rows x 5 columns]

In [17]:
def convert_quarter_to_numeric(quarter_str):
    quarter, year = quarter_str.split('_')
    quarter_num = int(quarter[1:])  # Extract the numerical quarter (Q1 -> 1, Q2 -> 2, etc.)
    year_num = int(year)
    return year_num + (quarter_num / 10)

df_melted['Quarter_numeric'] = df_melted['Quarter'].apply(convert_quarter_to_numeric)

In [18]:
df_melted

          COMM_NAME   COMM_CODE  COMM_WT  Quarter       Price  Quarter_numeric
0             Wheat  1101010102  1.02823  Q1_2013  122.666667           2013.1
1              Ragi  1101010107  0.00738  Q1_2013  167.900000           2013.1
2        a2. PULSES  1101010200  0.63860  Q1_2013  117.133333           2013.1
3              Gram  1101010201  0.26377  Q1_2013  125.200000           2013.1
4      Peas/Chawali  1101010206  0.02444  Q1_2013  118.200000           2013.1
..              ...         ...      ...      ...         ...              ...
355    Peas/Chawali  1101010206  0.02444  Q4_2022  216.400000           2022.4
356  b1. VEGETABLES  1101020100  1.87448  Q4_2022  230.466667           2022.4
357          Potato  1101020101  0.27737  Q4_2022  279.233333           2022.4
358    Sweet Potato  1101020102  0.02051  Q4_2022   96.500000           2022.4
359  Ginger (Fresh)  1101020105  0.02124  Q4_2022  172.200000           2022.4

[360 rows x 6 columns]

By linear Regression

In [19]:

features = df_melted.drop(columns=['Price','Quarter','COMM_NAME'])
target = df_melted['Price']

features = pd.get_dummies(features, drop_first=True)


X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.2, random_state=42)

model = LinearRegression()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

# Calculate predictions
y_pred = model.predict(X_test)

# Calculate the metrics
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
rmse = mse ** 0.5
#msle = mean_squared_log_error(y_test, y_pred)

# Print the results
print("Mean Squared Error (MSE):", mse)
print("Root Mean Squared Error (RMSE):", rmse)
print("Mean Absolute Error (MAE):", mae)
print("R^2 Score:", r2)
#print("Mean Squared Log Error (MSLE):", msle)

Mean Squared Error (MSE): 2569.634196248998
Root Mean Squared Error (RMSE): 50.69155941820095
Mean Absolute Error (MAE): 36.33444425371951
R^2 Score: 0.1183700754589071

In [20]:
df_melted

          COMM_NAME   COMM_CODE  COMM_WT  Quarter       Price  Quarter_numeric
0             Wheat  1101010102  1.02823  Q1_2013  122.666667           2013.1
1              Ragi  1101010107  0.00738  Q1_2013  167.900000           2013.1
2        a2. PULSES  1101010200  0.63860  Q1_2013  117.133333           2013.1
3              Gram  1101010201  0.26377  Q1_2013  125.200000           2013.1
4      Peas/Chawali  1101010206  0.02444  Q1_2013  118.200000           2013.1
..              ...         ...      ...      ...         ...              ...
355    Peas/Chawali  1101010206  0.02444  Q4_2022  216.400000           2022.4
356  b1. VEGETABLES  1101020100  1.87448  Q4_2022  230.466667           2022.4
357          Potato  1101020101  0.27737  Q4_2022  279.233333           2022.4
358    Sweet Potato  1101020102  0.02051  Q4_2022   96.500000           2022.4
359  Ginger (Fresh)  1101020105  0.02124  Q4_2022  172.200000           2022.4

[360 rows x 6 columns]

By polynomial Regrerssion

In [21]:
from sklearn.preprocessing import PolynomialFeatures
from sklearn.feature_selection import SelectKBest, f_regression

features = df_melted.drop(columns=['Price','Quarter','COMM_NAME'])
target = df_melted['Price']

features = pd.get_dummies(features, drop_first=True)


X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.2, random_state=42)

poly = PolynomialFeatures(degree=2, include_bias=False)
X_train_poly = poly.fit_transform(X_train)
X_test_poly = poly.transform(X_test)

# Fit Polynomial Regression model
model = LinearRegression()
model.fit(X_train_poly, y_train)

# Make predictions
y_pred = model.predict(X_test_poly)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
rmse = mse ** 0.5
#msle = mean_squared_log_error(y_test, y_pred)


print("Mean Squared Error (MSE):", mse)
print("Root Mean Squared Error (RMSE):", rmse)
print("Mean Absolute Error (MAE):", mae)
print("R^2 Score:", r2)
#print("Mean Squared Log Error (MSLE):", msle)

Mean Squared Error (MSE): 2526.729687549914
Root Mean Squared Error (RMSE): 50.26658619351342
Mean Absolute Error (MAE): 34.46697806614512
R^2 Score: 0.13309041924249365

Random Forest Regressor

In [22]:
import pandas as pd
from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import LabelEncoder

features = df_melted.drop(columns=['Price','Quarter','COMM_NAME'])
target = df_melted['Price']


features = pd.get_dummies(features, drop_first=True)


X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.2, random_state=42)

# Train Random Forest Regressor
model = RandomForestRegressor( random_state=42)
param_grid = {
    'n_estimators': [50, 100, 200],
    'max_depth': [None, 10, 20, 30],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4],
    'max_features': [None, 'sqrt', 'log2']
}

# Initialize GridSearchCV
grid_search = GridSearchCV(estimator=model,
                           param_grid=param_grid,
                           cv=5,
                           n_jobs=-1,
                           verbose=2,
                           scoring='r2')

# Fit GridSearchCV
grid_search.fit(X_train, y_train)

# Get the best model from GridSearchCV
best_model = grid_search.best_estimator_

# Make predictions
y_pred = best_model.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
rmse = mse ** 0.5
#msle = mean_squared_log_error(y_test, y_pred)


print("Mean Squared Error (MSE):", mse)
print("Root Mean Squared Error (RMSE):", rmse)
print("Mean Absolute Error (MAE):", mae)
print("R^2 Score:", r2)
#print("Mean Squared Log Error (MSLE):", msle)

Fitting 5 folds for each of 324 candidates, totalling 1620 fits
Mean Squared Error (MSE): 905.7480905432111
Root Mean Squared Error (RMSE): 30.095649030104187
Mean Absolute Error (MAE): 17.180611111111133
R^2 Score: 0.6892419077063558

In [23]:
def predict_price(comm_code, weight, quarter_numeric):
    # Create a DataFrame for the input data
    input_data = pd.DataFrame({
        'COMM_CODE': [comm_code],
        'wt': [weight],
        'Quarter_numeric': [quarter_numeric]
    })
    
    # Preprocess the input data (one-hot encoding)
    input_data = pd.get_dummies(input_data, drop_first=True)
    
    # Align input data with training data
    input_data = input_data.reindex(columns=features.columns, fill_value=0)

    # Make prediction
    predicted_price = best_model.predict(input_data)
    
    return predicted_price[0]

# Example usage of the prediction function
predicted_price_value = predict_price(comm_code=1101010102, weight=0.500, quarter_numeric=2013.1)
print("Predicted Price:", predicted_price_value)

Predicted Price: 168.8539999999999

In [26]:
import pickle
with open('trained_model.pkl', 'wb') as f:
    pickle.dump(best_model, f)

In [27]:
df_melted

          COMM_NAME   COMM_CODE  COMM_WT  Quarter       Price  Quarter_numeric
0             Wheat  1101010102  1.02823  Q1_2013  122.666667           2013.1
1              Ragi  1101010107  0.00738  Q1_2013  167.900000           2013.1
2        a2. PULSES  1101010200  0.63860  Q1_2013  117.133333           2013.1
3              Gram  1101010201  0.26377  Q1_2013  125.200000           2013.1
4      Peas/Chawali  1101010206  0.02444  Q1_2013  118.200000           2013.1
..              ...         ...      ...      ...         ...              ...
355    Peas/Chawali  1101010206  0.02444  Q4_2022  216.400000           2022.4
356  b1. VEGETABLES  1101020100  1.87448  Q4_2022  230.466667           2022.4
357          Potato  1101020101  0.27737  Q4_2022  279.233333           2022.4
358    Sweet Potato  1101020102  0.02051  Q4_2022   96.500000           2022.4
359  Ginger (Fresh)  1101020105  0.02124  Q4_2022  172.200000           2022.4

[360 rows x 6 columns]